//main:../styles.scss

.results{
  position: relative;
  // h1{
  //   text-align: center;
  //   position: sticky;
  //   position: -webkit-sticky;
  //   top: 0;
  //   z-index: 1;
  // }
}

.results-feed{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: space-around;
}
